<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Daily Journal</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />

    <body>
      <nav class="top navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <p class="navbar-brand daily">
              <a href="/" class="dTitle">Daily</a>
            </p>
          </div>
          <div class="seperatePage">
            <ul class="nav navbar-nav navbar-right">
              <!-- 6 -->

              <li class="np" name="about"><a href="/Compose">New Post</a></li>
              <li class="cp" name="contact">
                <a href="/current">Current Posts</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </body>
  </head>
</html>
