<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Document</title>
  </head>
  <body class="main">
    <%-include("partials/header"); -%>

    <h1 class="publish"><%= pubTitle %></h1>
    <form action="/Compose" method="post">
      <div class="form-group">
        <input
          id="Title"
          type="text"
          class="form-control"
          name="postTitle"
          autocomplete="off"
          placeholder="Insert title here..."
        />
      
  
        <textarea
          class="form-control"
          id="Posting"
          name="postBody"
          cols="100"
          rows="12"
          placeholder="I am thinking about..."
        ></textarea>
        <div class = "cent">
          <button type="submit" name="blog" class="btn btn-success btn-rounded submit">Submit!</button>
        </div>
      

      </div>
  </body>
</html>
